extends layout

block styles
    link(rel="stylesheet", href="/css/css-circular-prog-bar.css")
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")

block content
    .message-area
        -if(login){
            .success-msg
                i.fa.fa-times.close-success-msg
                ul 
                    li به پنل کاربری خود خوش آمدید
        -}
    h1.title #{get_persian_month(parseInt(month))} ماه #{now.year}
        -if(user.role == 'admin'){
            .gray.inline.small (پرسنل شماره #{personelID})
            a.prev(href="/dashboard/admin-view-user?month=#{parseInt(month) - 1}&personelID=#{personelID}") 
                i.fa.fa-chevron-right
                | #{get_persian_month(parseInt(month)-1)}
            a.next(href="/dashboard/admin-view-user?month=#{parseInt(month) + 1}&personelID=#{personelID}") 
                | #{get_persian_month(parseInt(month)+1)}
                i.fa.fa-chevron-left
        -}else{
            a.prev(href="/dashboard/commute-month?month=#{parseInt(month) - 1}") 
                i.fa.fa-chevron-right
                | #{get_persian_month(parseInt(month)-1)}
            a.next(href="/dashboard/commute-month?month=#{parseInt(month) + 1}") 
                | #{get_persian_month(parseInt(month)+1)}
                i.fa.fa-chevron-left
        -}
    .commute-area
        -for(var i=0; i<monthData.length; i++){
            .day-view(id="day#{i}" class="#{day_in_week(monthData[i].date) == 'جمعه' || day_in_week(monthData[i].date) == 'پنج شنبه' ? 'holiday': ''}")
                | #{day_in_week(monthData[i].date)} #{monthData[i].day} #{get_persian_month(monthData[i].month)} ماه 
                -var correct = 0, incorrect = 0, sum = {hour: 0, minute: 0, second: 0}, total = {hour: 0, minute: 0, second: 0};
                -for(var j=0; j<monthData[i].commutes.length-1; j+=2){
                    -if(monthData[i].commutes[j].Enter && !monthData[i].commutes[j+1].Enter ) {
                        -correct++; 
                        -sum = sumTime(sum, deltaTime(monthData[i].commutes[j].time, monthData[i].commutes[j+1].time))
                        
                    -}
                    -else if(!monthData[i].commutes[j].Enter)    {incorrect++;monthData[i].commutes.splice(j  , 0, 'undefined');}
                    -else if(monthData[i].commutes[j+1].Enter)   {incorrect++;monthData[i].commutes.splice(j+1, 0, 'undefined');}
                    -else incorrect++;
                -}
                -if(correct > 0 || incorrect > 0){
                    | (
                    -if(correct > 0)
                        .dark-green.inline #{correct} تردد صحیح
                    -if(incorrect > 0)
                        .red.inline #{incorrect} تردد ناقص
                    | )
                -}
                -var start = {hour: 0, minute: 0, second: 0}, end = {hour: 0, minute: 0, second: 0};
                -for(var j=0; j<monthData[i].commutes.length; j++)
                    -if(monthData[i].commutes[j].Enter) {start = monthData[i].commutes[j].time; break;}
                -for(var j=monthData[i].commutes.length-1; j>0; j--)
                    -if(!monthData[i].commutes[j].Enter) {end = monthData[i].commutes[j].time; break;}
                -var total = deltaTime(start, end);
                -if((sum.hour * 60 * 60) + (sum.minute * 60) + (sum.second) != 0)
                    .sum-area 
                        .sum(id="sum#{i}") #{total.hour}:#{total.minute} / #{sum.hour}:#{sum.minute}
                        -percent = (((sum.hour * 60 * 60) + (sum.minute * 60) + (sum.second))/((total.hour * 60 * 60) + (total.minute * 60) + (total.second)))*100;
                        script.
                            $('#sum#{i}').css('width', '#{percent > 45 ? percent : 45}%');
                    
                i.fa.fa-chevron-down.chev
            .commute(id="commute#{i}")
                table
                    tr 
                        th 
                            //- i.fa.fa-pencil
                        th شماره دستگاه ورود
                        th شماره دستگاه خروج
                        th زمان ورود
                        th زمان خروج
                        th وضعیت
                        -if(user.role == 'admin')
                            th 
                                //- i.fa.fa-trash
                    -for(var j=0; j<monthData[i].commutes.length-1; j+=2){
                        -if(monthData[i].commutes[j+1] == 'undefined'){ 
                            tr 
                                td
                                    i.fa.fa-edit.edit
                                td= monthData[i].commutes[j].deviceID
                                td 
                                    .red -
                                td #{monthData[i].commutes[j].time.hour}:#{monthData[i].commutes[j].time.minute}:#{monthData[i].commutes[j].time.second}
                                td 
                                    .red -
                                td 
                                    .red ناقص
                                -if(user.role == 'admin')
                                    td 
                                        a(href="/dashboard/remove-commute?id1=#{monthData[i].commutes[j]._id}&id2=undefined&personelID=#{personelID}&month=#{month}") 
                                            i.fa.fa-trash.delete
                        -}else if(monthData[i].commutes[j] == 'undefined'){ 
                            tr 
                                td
                                    i.fa.fa-edit.edit
                                td 
                                    .red -
                                td= monthData[i].commutes[j+1].deviceID
                                td 
                                    .red -
                                td #{monthData[i].commutes[j+1].time.hour}:#{monthData[i].commutes[j+1].time.minute}:#{monthData[i].commutes[j+1].time.second}
                                td 
                                    .red ناقص
                                -if(user.role == 'admin')
                                    td 
                                        a(href="/dashboard/remove-commute?id1=undefined&id2=#{monthData[i].commutes[j+1]._id}&personelID=#{personelID}&month=#{month}") 
                                            i.fa.fa-trash.delete
                        -}else if(monthData[i].commutes[j].Enter && !monthData[i].commutes[j+1].Enter ){
                            tr 
                                td
                                    i.fa.fa-edit.edit
                                td= monthData[i].commutes[j].deviceID
                                td= monthData[i].commutes[j+1].deviceID
                                td #{monthData[i].commutes[j].time.hour}:#{monthData[i].commutes[j].time.minute}:#{monthData[i].commutes[j].time.second}
                                td #{monthData[i].commutes[j+1].time.hour}:#{monthData[i].commutes[j+1].time.minute}:#{monthData[i].commutes[j+1].time.second}
                                td 
                                    .green صحیح
                                -if(user.role == 'admin')
                                    td 
                                        a(href="/dashboard/remove-commute?id1=#{monthData[i].commutes[j]._id}&id2=#{monthData[i].commutes[j+1]._id}&personelID=#{personelID}&month=#{month}") 
                                            i.fa.fa-trash.delete
                        -}else{
                            tr 
                                td
                                    i.fa.fa-edit.edit
                                td= monthData[i].commutes[j].deviceID
                                td= monthData[i].commutes[j+1].deviceID
                                td #{monthData[i].commutes[j].time.hour}:#{monthData[i].commutes[j].time.minute}:#{monthData[i].commutes[j].time.second}
                                td #{monthData[i].commutes[j+1].time.hour}:#{monthData[i].commutes[j+1].time.minute}:#{monthData[i].commutes[j+1].time.second}
                                td 
                                    .red خیلی ناقص
                                -if(user.role == 'admin')
                                    td 
                                        a(href="/dashboard/remove-commute?id1=undefined&id2=undefined&personelID=#{personelID}&month=#{month}") 
                                            i.fa.fa-trash.delete
                        -}
                    -}
        -}
    script(src="/js/dashboard.js") 
