extends layout

block styles
    link(rel="stylesheet", href="/css/css-circular-prog-bar.css")
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")

block content
    .message-area
        -if(login){
            .success-msg
                i.fa.fa-times.close-success-msg
                ul 
                    li به پنل کاربری خود خوش آمدید
        -}
        -if(!user.passwordChanged && user.role == 'user')
            .notif-msg
                i.fa.fa-times.close-notif-msg
                ul 
                    li لطفا برای تغیر رمز عبور خود 
                        a(href="/dashboard/settings") اینجا 
                        | کلیک کنید.
                
    h1.title #{get_persian_month(parseInt(month))} ماه #{now.year}
        -if(user.role == 'admin'){
            .gray.inline.small (پرسنل شماره #{personelID})
            a.prev(href="/dashboard/admin-view-user?month=#{parseInt(month) - 1}&personelID=#{personelID}") 
                i.fa.fa-chevron-right
                | #{get_persian_month(parseInt(month)-1)}
            a.next(href="/dashboard/admin-view-user?month=#{parseInt(month) + 1}&personelID=#{personelID}") 
                | #{get_persian_month(parseInt(month)+1)}
                i.fa.fa-chevron-left
        -}else{
            a.prev(href="/dashboard/commute-month?month=#{parseInt(month) - 1}") 
                i.fa.fa-chevron-right
                | #{get_persian_month(parseInt(month)-1)}
            a.next(href="/dashboard/commute-month?month=#{parseInt(month) + 1}") 
                | #{get_persian_month(parseInt(month)+1)}
                i.fa.fa-chevron-left
        -}
    .commute-area
        -for(var i=0; i<thisMonth.length; i++){
            .day-view(id="day#{i}" class="#{day_in_week(thisMonth[i].date) == 'جمعه' || day_in_week(thisMonth[i].date) == 'پنج شنبه' ? 'holiday': ''}")
                | #{day_in_week(thisMonth[i].date)} #{thisMonth[i].day} #{get_persian_month(thisMonth[i].month)} ماه 
                -var correct = 0, incorrect = 0, sum = {hour: 0, minute: 0, second: 0}, total = {hour: 0, minute: 0, second: 0};
                -for(var j=0; j<thisMonth[i].commutes.length-1; j+=2){
                    -if(thisMonth[i].commutes[j].Enter && !thisMonth[i].commutes[j+1].Enter ) {
                        -correct++; 
                        -sum = sumTime(sum, deltaTime(thisMonth[i].commutes[j].time, thisMonth[i].commutes[j+1].time))
                        
                    -}
                    -else if(!thisMonth[i].commutes[j].Enter)    {incorrect++;thisMonth[i].commutes.splice(j  , 0, 'undefined');}
                    -else if(thisMonth[i].commutes[j+1].Enter)   {incorrect++;thisMonth[i].commutes.splice(j+1, 0, 'undefined');}
                    -else incorrect++;
                -}
                -if(correct > 0 || incorrect > 0){
                    | (
                    -if(correct > 0)
                        .dark-green.inline #{correct} تردد صحیح
                    -if(incorrect > 0)
                        .red.inline #{incorrect} تردد ناقص
                    | )
                -}
                -var start = {hour: 0, minute: 0, second: 0}, end = {hour: 0, minute: 0, second: 0};
                -for(var j=0; j<thisMonth[i].commutes.length; j++)
                    -if(thisMonth[i].commutes[j] != 'undefined' && thisMonth[i].commutes[j].Enter) {start = thisMonth[i].commutes[j].time; break;}
                -for(var j=thisMonth[i].commutes.length-1; j>0; j--)
                    -if(thisMonth[i].commutes[j] != 'undefined' && !thisMonth[i].commutes[j].Enter) {end = thisMonth[i].commutes[j].time; break;}
                -var total = deltaTime(start, end);
                -if((sum.hour * 60 * 60) + (sum.minute * 60) + (sum.second) != 0)
                    .sum-area 
                        .sum(id="sum#{i}") #{total.hour}:#{total.minute} / #{sum.hour}:#{sum.minute}
                        -percent = (((sum.hour * 60 * 60) + (sum.minute * 60) + (sum.second))/((total.hour * 60 * 60) + (total.minute * 60) + (total.second)))*100;
                        script.
                            $('#sum#{i}').css('width', '#{percent > 45 ? percent : 45}%');
                    
                i.fa.fa-chevron-down.chev
            .commute(id="commute#{i}")
                table
                    tr 
                        th 
                            //- i.fa.fa-pencil
                        th شماره دستگاه ورود
                        th شماره دستگاه خروج
                        th زمان ورود
                        th زمان خروج
                        th وضعیت
                        -if(user.role == 'admin')
                            th 
                                //- i.fa.fa-trash
                    -for(var j=0; j<thisMonth[i].commutes.length-1; j+=2){
                        -if(thisMonth[i].commutes[j+1] == 'undefined'){ 
                            tr 
                                td
                                    i.fa.fa-edit.edit(id="btn-edit#{i}-form#{j}")
                                td= thisMonth[i].commutes[j].deviceID
                                td 
                                    .red -
                                td #{thisMonth[i].commutes[j].time.hour}:#{thisMonth[i].commutes[j].time.minute}:#{thisMonth[i].commutes[j].time.second}
                                td 
                                    .red -
                                td 
                                    .red ناقص
                                -if(user.role == 'admin')
                                    td 
                                        a(href="/dashboard/remove-commute?id1=#{thisMonth[i].commutes[j]._id}&id2=undefined&personelID=#{personelID}&month=#{month}") 
                                            i.fa.fa-trash.delete
                        -}else if(thisMonth[i].commutes[j] == 'undefined'){ 
                            tr 
                                td
                                    i.fa.fa-edit.edit(id="btn-edit#{i}-form#{j}")
                                td 
                                    .red -
                                td= thisMonth[i].commutes[j+1].deviceID
                                td 
                                    .red -
                                td #{thisMonth[i].commutes[j+1].time.hour}:#{thisMonth[i].commutes[j+1].time.minute}:#{thisMonth[i].commutes[j+1].time.second}
                                td 
                                    .red ناقص
                                -if(user.role == 'admin')
                                    td 
                                        a(href="/dashboard/remove-commute?id1=undefined&id2=#{thisMonth[i].commutes[j+1]._id}&personelID=#{personelID}&month=#{month}") 
                                            i.fa.fa-trash.delete
                        -}else if(thisMonth[i].commutes[j].Enter && !thisMonth[i].commutes[j+1].Enter ){
                            tr 
                                td
                                    i.fa.fa-edit.edit(id="btn-edit#{i}-form#{j}")
                                td= thisMonth[i].commutes[j].deviceID
                                td= thisMonth[i].commutes[j+1].deviceID
                                td #{thisMonth[i].commutes[j].time.hour}:#{thisMonth[i].commutes[j].time.minute}:#{thisMonth[i].commutes[j].time.second}
                                td #{thisMonth[i].commutes[j+1].time.hour}:#{thisMonth[i].commutes[j+1].time.minute}:#{thisMonth[i].commutes[j+1].time.second}
                                td 
                                    .green صحیح
                                -if(user.role == 'admin')
                                    td 
                                        a(href="/dashboard/remove-commute?id1=#{thisMonth[i].commutes[j]._id}&id2=#{thisMonth[i].commutes[j+1]._id}&personelID=#{personelID}&month=#{month}") 
                                            i.fa.fa-trash.delete
                        -}else{
                            tr 
                                td
                                    i.fa.fa-edit.edit(id="btn-edit#{i}-form#{j}")
                                td= thisMonth[i].commutes[j].deviceID
                                td= thisMonth[i].commutes[j+1].deviceID
                                td #{thisMonth[i].commutes[j].time.hour}:#{thisMonth[i].commutes[j].time.minute}:#{thisMonth[i].commutes[j].time.second}
                                td #{thisMonth[i].commutes[j+1].time.hour}:#{thisMonth[i].commutes[j+1].time.minute}:#{thisMonth[i].commutes[j+1].time.second}
                                td 
                                    .red خیلی ناقص
                                -if(user.role == 'admin')
                                    td 
                                        a(href="/dashboard/remove-commute?id1=undefined&id2=undefined&personelID=#{personelID}&month=#{month}") 
                                            i.fa.fa-trash.delete
                        -}
                    -}
            -if(user.role == 'admin'){
                .edit-commute 
                    -for(var j=0; j<thisMonth[i].commutes.length-1; j+=2){
                        -if(thisMonth[i].commutes[j+1] == 'undefined'){ 
                            form(action="/dashboard/edit-commute" method="POST" id="day#{i}-form#{j}") 
                                input.hidden(type="text" name="month" value="#{month}")
                                input.hidden(type="text" name="personelID" value="#{personelID}")
                                input.hidden(type="text" name="enterCommuteID" value="#{thisMonth[i].commutes[j]._id}")
                                input.hidden(type="text" name="exitCommuteID" value="undefined")
                                input.hidden(type="number" name="Dday" value="#{thisMonth[i].commutes[j].j_date.day}")
                                input.hidden(type="number" name="Dmonth" value="#{thisMonth[i].commutes[j].j_date.month}")
                                input.hidden(type="number" name="Dyear" value="#{thisMonth[i].commutes[j].j_date.year}")
                                input.hidden(type="text" name="date" value="#{thisMonth[i].commutes[j].date}")

                                input.device(type="number" name="enterDeviceID" placeholder="شماره دستگاه ورود" value="#{thisMonth[i].commutes[j].deviceID}")
                                input.device(type="number" name="exitDeviceID" placeholder="شماره دستگاه خروج" value="1")
                                .time
                                    input.min(type="number" name="enterMinute" placeholder="دقیقه" value="#{thisMonth[i].commutes[j].time.minute}")
                                    | :
                                    input.hour(type="number" name="enterHour" placeholder="ساعت" value="#{thisMonth[i].commutes[j].time.hour}")
                                .time
                                    input.min(type="number" name="exitMinute" placeholder="دقیقه" value="0")
                                    | :
                                    input.hour(type="number" name="exitHour" placeholder="ساعت" value="0")
                                input.submit(type="submit" value="ثبت")
                        -}else if(thisMonth[i].commutes[j] == 'undefined'){ 
                            form(action="/dashboard/edit-commute" method="POST" id="day#{i}-form#{j}") 
                                input.hidden(type="text" name="month" value="#{month}")
                                input.hidden(type="text" name="personelID" value="#{personelID}")
                                input.hidden(type="text" name="enterCommuteID" value="undefined")
                                input.hidden(type="text" name="exitCommuteID" value="#{thisMonth[i].commutes[j+1]._id}")
                                input.hidden(type="number" name="Dday" value="#{thisMonth[i].commutes[j+1].j_date.day}")
                                input.hidden(type="number" name="Dmonth" value="#{thisMonth[i].commutes[j+1].j_date.month}")
                                input.hidden(type="number" name="Dyear" value="#{thisMonth[i].commutes[j+1].j_date.year}")
                                input.hidden(type="text" name="date" value="#{thisMonth[i].commutes[j+1].date}")

                                input.device(type="number" name="enterDeviceID" placeholder="شماره دستگاه ورود" value="2")
                                input.device(type="number" name="exitDeviceID" placeholder="شماره دستگاه خروج" value="#{thisMonth[i].commutes[j+1].deviceID}")
                                .time
                                    input.min(type="number" name="enterMinute" placeholder="دقیقه" value="0")
                                    | :
                                    input.hour(type="number" name="enterHour" placeholder="ساعت" value="0")
                                .time
                                    input.min(type="number" name="exitMinute" placeholder="دقیقه" value="#{thisMonth[i].commutes[j+1].time.minute}")
                                    | :
                                    input.hour(type="number" name="exitHour" placeholder="ساعت" value="#{thisMonth[i].commutes[j+1].time.hour}")
                                input.submit(type="submit" value="ثبت")
                        -}else if(thisMonth[i].commutes[j].Enter && !thisMonth[i].commutes[j+1].Enter ){
                            form(action="/dashboard/edit-commute" method="POST" id="day#{i}-form#{j}") 
                                input.hidden(type="text" name="month" value="#{month}")
                                input.hidden(type="text" name="personelID" value="#{personelID}")
                                input.hidden(type="text" name="enterCommuteID" value="#{thisMonth[i].commutes[j]._id}")
                                input.hidden(type="text" name="exitCommuteID" value="#{thisMonth[i].commutes[j+1]._id}")
                                input.hidden(type="number" name="Dday" value="#{thisMonth[i].commutes[j].j_date.day}")
                                input.hidden(type="number" name="Dmonth" value="#{thisMonth[i].commutes[j].j_date.month}")
                                input.hidden(type="number" name="Dyear" value="#{thisMonth[i].commutes[j].j_date.year}")
                                input.hidden(type="text" name="date" value="#{thisMonth[i].commutes[j].date}")

                                input.device(type="number" name="enterDeviceID" placeholder="شماره دستگاه ورود" value="#{thisMonth[i].commutes[j].deviceID}")
                                input.device(type="number" name="exitDeviceID" placeholder="شماره دستگاه خروج" value="#{thisMonth[i].commutes[j+1].deviceID}")
                                .time
                                    input.min(type="number" name="enterMinute" placeholder="دقیقه" value="#{thisMonth[i].commutes[j].time.minute}")
                                    | :
                                    input.hour(type="number" name="enterHour" placeholder="ساعت" value="#{thisMonth[i].commutes[j].time.hour}")
                                .time
                                    input.min(type="number" name="exitMinute" placeholder="دقیقه" value="#{thisMonth[i].commutes[j+1].time.minute}")
                                    | :
                                    input.hour(type="number" name="exitHour" placeholder="ساعت" value="#{thisMonth[i].commutes[j+1].time.hour}")
                                input.submit(type="submit" value="ثبت")
                        -}
                    -}
            -}else{
                .edit-commute 
                    -for(var j=0; j<thisMonth[i].commutes.length-1; j+=2){
                        -if(thisMonth[i].commutes[j+1] == 'undefined'){ 
                            form(action="/dashboard/edit-commute" method="POST" id="day#{i}-form#{j}") 
                                input.hidden(type="text" name="month" value="#{month}")
                                input.hidden(type="text" name="personelID" value="#{personelID}")
                                input.hidden(type="text" name="enterCommuteID" value="#{thisMonth[i].commutes[j]._id}")
                                input.hidden(type="text" name="exitCommuteID" value="undefined")
                                input.hidden(type="number" name="Dday" value="#{thisMonth[i].commutes[j].j_date.day}")
                                input.hidden(type="number" name="Dmonth" value="#{thisMonth[i].commutes[j].j_date.month}")
                                input.hidden(type="number" name="Dyear" value="#{thisMonth[i].commutes[j].j_date.year}")
                                input.hidden(type="text" name="date" value="#{thisMonth[i].commutes[j].date}")

                                input.device(type="number" name="enterDeviceID" placeholder="شماره دستگاه ورود" value="#{thisMonth[i].commutes[j].deviceID}" readonly )
                                input.device(type="number" name="exitDeviceID" placeholder="شماره دستگاه خروج" value="1")
                                .time
                                    input.min(type="number" name="enterMinute" placeholder="دقیقه" value="#{thisMonth[i].commutes[j].time.minute}" readonly )
                                    | :
                                    input.hour(type="number" name="enterHour" placeholder="ساعت" value="#{thisMonth[i].commutes[j].time.hour}" readonly )
                                .time
                                    input.min(type="number" name="exitMinute" placeholder="دقیقه" value="0")
                                    | :
                                    input.hour(type="number" name="exitHour" placeholder="ساعت" value="0")
                                input.submit(type="submit" value="ثبت")
                        -}else if(thisMonth[i].commutes[j] == 'undefined'){ 
                            form(action="/dashboard/edit-commute" method="POST" id="day#{i}-form#{j}") 
                                input.hidden(type="text" name="month" value="#{month}")
                                input.hidden(type="text" name="personelID" value="#{personelID}")
                                input.hidden(type="text" name="enterCommuteID" value="undefined")
                                input.hidden(type="text" name="exitCommuteID" value="#{thisMonth[i].commutes[j+1]._id}")
                                input.hidden(type="number" name="Dday" value="#{thisMonth[i].commutes[j+1].j_date.day}")
                                input.hidden(type="number" name="Dmonth" value="#{thisMonth[i].commutes[j+1].j_date.month}")
                                input.hidden(type="number" name="Dyear" value="#{thisMonth[i].commutes[j+1].j_date.year}")
                                input.hidden(type="text" name="date" value="#{thisMonth[i].commutes[j+1].date}")

                                input.device(type="number" name="enterDeviceID" placeholder="شماره دستگاه ورود" value="2")
                                input.device(type="number" name="exitDeviceID" placeholder="شماره دستگاه خروج" value="#{thisMonth[i].commutes[j+1].deviceID}" readonly )
                                .time
                                    input.min(type="number" name="enterMinute" placeholder="دقیقه" value="0")
                                    | :
                                    input.hour(type="number" name="enterHour" placeholder="ساعت" value="0")
                                .time
                                    input.min(type="number" name="exitMinute" placeholder="دقیقه" value="#{thisMonth[i].commutes[j+1].time.minute}" readonly )
                                    | :
                                    input.hour(type="number" name="exitHour" placeholder="ساعت" value="#{thisMonth[i].commutes[j+1].time.hour}" readonly )
                                input.submit(type="submit" value="ثبت")
                        -}else if(thisMonth[i].commutes[j].Enter && !thisMonth[i].commutes[j+1].Enter ){
                            //- form(action="/dashboard/edit-commute" method="POST" id="day#{i}-form#{j}") 
                            //-     input.hidden(type="text" name="enterCommuteID" value="#{thisMonth[i].commutes[j]._id}" readonly )
                            //-     input.hidden(type="text" name="exitCommuteID" value="#{thisMonth[i].commutes[j+1]._id}" readonly )
                                
                            //-     input.device(type="number" name="enterDeviceID" placeholder="شماره دستگاه ورود" value="#{thisMonth[i].commutes[j].deviceID}" readonly )
                            //-     input.device(type="number" name="exitDeviceID" placeholder="شماره دستگاه خروج" value="#{thisMonth[i].commutes[j+1].deviceID}" readonly )
                            //-     .time
                            //-         input.min(type="number" name="enterMinute" placeholder="دقیقه" value="#{thisMonth[i].commutes[j].time.minute}" readonly )
                            //-         | :
                            //-         input.hour(type="number" name="enterHour" placeholder="ساعت" value="#{thisMonth[i].commutes[j].time.hour}" readonly )
                            //-     .time
                            //-         input.min(type="number" name="exitMinute" placeholder="دقیقه" value="#{thisMonth[i].commutes[j+1].time.minute}" readonly )
                            //-         | :
                            //-         input.hour(type="number" name="exitHour" placeholder="ساعت" value="#{thisMonth[i].commutes[j+1].time.hour}" readonly )
                            //-     input.submit(type="submit" value="ثبت")
                        -}
                    -}
            -}
            
        -}
    script(src="/js/dashboard.js") 
